h1{
    text-align: center;
}

.dot{
}

.doping{
    fill:rgb(169, 110, 91)
}

.noDoping{
    fill:rgb(150,206,180)
}


#tooltip{
    position: absolute;
    width:215px;
    top:700px;
    left:200px;
}